body {
    margin: 0;
}
body .dark {
    --background: black;
    background: var(--background);
}

.slider {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 900px;
}

.slider > * {
    flex-shrink: 0;
    scroll-snap-align: start;
}

.v-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid grey;
    padding: .5em 0;
    margin: 0 1em;
    font-size: 1.2em;
}

.dynamic-label {

}