@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --h-padding: 8px;
    --f-padding: 16px;
    --sidebar-width: 250px;
}

body.dark {
    --background: black;
    --color: white;
    --color-50: rgba(255, 255, 255, 0.5);
    --color-25: rgba(255, 255, 255, 0.25);
    --color-10: rgba(255, 255, 255, 0.10);
}

body {
    --background: white;
    --color: rgb(0, 0, 0);
    --color-50: rgba(0, 0, 0, 0.5);
    --color-25: rgba(0, 0, 0, 0.25);
    --color-10: rgba(0, 0, 0, 0.10);
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; 
    font-family: 'Open Sans', sans-serif;
    background: var(--background, white);
}

#sidebar {
    width: calc(var(--sidebar-width) - var(--f-padding));
    padding: var(--h-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#sidebar li {
    list-style-type: none;
}

#sidebar li a {
    text-decoration: none;
}

#content {
    width: calc(100vw - var(--sidebar-width));
    padding: var(--h-padding);
}