@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --background: white;
    --font-main: black;
    --bg-highlight: rgba(0, 0, 0, 0.132);
    --invert: 0;
    font-family: 'Open Sans', sans-serif;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --font-main: white;
        --bg-highlight: rgba(244, 244, 244, 0.132);
        --invert: 1;
    }
}

body {
    margin: 0;
    padding: 1em;
    height: calc(100vh);
    display: flex;
    justify-content: space-around;
    background: var(--background);
    color: var(--font-main);
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navigation {
    width: calc(300px - 4em);
    height: calc(100% - 4em);
    padding: 1em;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navigation::after {
    content: ' ';
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.312);
    transition: 1s ease;
    display: none;
}

.navigation[loading]::after {
    background: linear-gradient(blue, blueviolet, blueviolet, blue) 0 0/100% 200%;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    to {
        background-position: 0 -200%
    }
}

.router {
    width: calc(100% - calc(225px - 2em));
    margin-left: 1em;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.tag {
    color: gray;
    text-transform: lowercase;
    padding: 0;
}

.tag::before {
    content: '@';
    position: absolute;
    transform: translateX(-0.9em);
}

#name {
    margin-bottom: 0;
}

#picture {
    border-radius: 100%;
}

a[download] {
    text-decoration: none;
    color: var(--font-main)
}

section[id*=page] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    max-height: 0;
    box-sizing: border-box;
    width: 100%;
    transition: all ease-in-out 0s, opacity 1s;
}

section[id*=page] > section {
    overflow-y: overlay;
    display: inline-table;
    opacity: 1;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.visible {
    display: block !important;
    opacity: 1 !important;
    pointer-events: all !important;
    overflow-x: hidden;
    overflow-y: overlay;
    max-height: 100vh !important;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu>li {
    opacity: 0.6;
    width: fit-content;
    padding: 4px 15px;
    border-radius: 12px;
    margin: 0.5em 0;
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    user-select: none;
}

.menu>li:hover {
    background: var(--bg-highlight);
}

li.active {
    opacity: 1;
}

li.active::before {
    opacity: 1;
    transition: .2s cubic-bezier(0.47, 0, 0.745, 0.715);
    content: '›';
    position: absolute;
    left: 1em
}

li::before {
    opacity: 0;
    content: '›';
    position: absolute;
    left: 1em
}

::-webkit-scrollbar {
    width: 0px;
}

#socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.badge {
    cursor: pointer;
    filter: invert(var(--invert));
    width: 2em;
    opacity: .5;
    padding: 9px 18px;
    position: relative;
}

.bagde:hover {
    opacity: .8 !important;
}

.badge:hover::after {
    content: 'attr(data-name)';
    background-color: aqua;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    height: 1em;
}

.center-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}