.main {
    position: relative;
}

.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: calc(100% - 2em);
    height: 300px;
    margin: 1em;
    border-radius: 5px;
}

.slide {
    user-select: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.slide:nth-child(odd) {
    background-color: #2196f3;
}

.slide:nth-child(even) {
    background-color: #f44336;
}

.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.btn {
    color: black;
    position: absolute;
    z-index: 99999;
    opacity: 0;
    border: 0;
    font-size: 32px;
    top: 0;
    width: 128px;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    cursor: pointer;
    transition: opacity .4s cubic-bezier(0.448, 0.032, 0.558, 0.995);
}

.btn:hover {
    opacity: 1;
}

.right {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.258),rgba(0, 0, 0, 0.058),transparent);
    right: 0;
}

.left {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.258),rgba(0, 0, 0, 0.058),transparent);
    left: 0;
}

#pager {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#pager > button {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 100%;
    border: 0;
    margin: 8px;
    cursor: pointer;
    transition: opacity .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.active ~ button {
    opacity: 0.5;
}

.slider:hover > #pager {
    opacity: 1;
}

#blog-wrapper {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

#blog-wrapper > p {
    cursor: pointer;
    background: #181818;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    color: #bababa;
    text-decoration: none;
}